.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form__input {
  width: 300px;
  height: 100%;
  padding: 15px;
  margin-right: 10px;
  color: #8f94a1;
  border: 1px solid #8f94a1;
  font-size: 17px;
}

.form__input-dark {
  background-color: #303236;
  color: #7e7f82;
  border: none;
  outline: none;
}

.form__input-dark:focus {
  outline: 2px solid black;
}

.form__btn {
  border: none;
  font-size: 17px;
  padding: 15px 25px;
  color: #fff;
  background-color: #2ea3d1;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.form__btn:hover {
  background-color: #2b8eb4;
}

.form__btn:focus {
  outline: 2px solid black;
}

.form__select {
  border: 1px solid #8f94a1;
  color: #8f94a1;
  font-size: 17px;
  padding: 5px;
  cursor: pointer;
}

.form__select option:hover {
  background: #7e6ee1;
}

.form__select-dark {
  background-color: #303236;
  color: #7e7f82;
  border: none;
  outline: none;
}

.form__select-dark:focus {
  outline: 2px solid black;
}
