.todo__task {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
}

.todo__task-name {
  flex-grow: 1;
  font-size: 20px;
}

.task-name__checked {
  color: rgb(170, 169, 169);
  text-decoration: line-through;
}

.task-name__light {
  color: #fff;
}

.task-name__light-checked {
  color: #7d838f;
  text-decoration: line-through;
}

.todo__task-btn {
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.todo__task-btn:focus {
  outline: 2px solid black;
}

.todo__task-btn svg {
  font-size: 25px;
  fill: #fff;
}

.btn-check {
  margin-right: 10px;
  background-color: #74c080;
}
.btn-check:hover {
  background-color: #68aa72;
}

.btn-delete {
  background-color: #ee7f73;
}

.btn-delete:hover {
  background-color: #d16f64;
}
