.todo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px 10px;
  border-bottom: 1px solid #8f94a1;
}

.todo__header-dark {
  border-bottom: 1px solid #303236;
}

.header-title {
  font-size: 35px;
  color: #1f1f1f;
}

.header-title__dark {
  color: #fff;
}

.header-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.header-btn svg {
  font-size: 35px;
}

.hedaer-btn__dark {
  fill: #1f1f1f;
}

.hedaer-btn__light {
  fill: #fff;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 30px;
  }
  .header-btn svg {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .header-title {
    font-size: 27px;
  }
  .header-btn svg {
    font-size: 27px;
  }
}
